{% extends 'base.html' %}
{% load static %}
{% block title %}
    Профиль
{% endblock %}
{% block content %}
    <div class="main-wrapper">
        <div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-1">
            <div class="container-fluid">
                <div class="breadcrumb-content text-center">
                    <div class="breadcrumb-title">
                        <h2 class="sansa_text">Заказ успешно оформлен</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
