{% extends 'base.html' %}
{% load static %}
{% block title %}
    Оформление заказа
{% endblock %}
{% block content %}
    <div class="cart-main-area pt-90 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="table-content table-responsive cart-table-content">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Товар</th>
                                            <th> Цена</th>
                                            <th>Количество</th>
                                            <th>Итого</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for product in products.all %}
                                            <tr>
                                                <td class="product-remove">
                                                </td>
                                                <td class="product-img">
                                                    <a href="#"><img src="{{ product.image.image.url }}"
                                                                     style="width: 60px;" alt=""></a>
                                                </td>
                                                <td class="product-name"><a href="#">{{ product.product.name }} {% if product.image.color %}
                                                ({{ product.image.color }})
                                                {% endif %}</a></td>
                                                <td class="product-price"><span
                                                        class="amount">₽{{ product.product.price }}</span></td>
                                                <td class="product-price"><span
                                                        class="amount">{{ product.count }}</span></td>
                                                <td class="product-total">
                                                    <span>₽{% widthratio product.product.price 1 product.count %}</span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cart-shiping-update-wrapper">

                                </div>
                            </div>


                            <div class="col-lg-4">
                                <div class="grand-total-wrap">
                                    <h4>Оформление заказа</h4>
                                    <div class="grand-total-content">
                                        <ul>
                                            <li>
                                                Перевозчик <span>{{ data.carrier }}</span>
                                                <br>
                                                Город получения <span>{{ data.address }}</span>
                                                <br>
                                            </li>
                                            <li>
                                                Стоиость доставки <span> ₽0</span>
                                                <br>
                                                Стоиость товаров <span> ₽{{ total_price }}</span>
                                            </li>
                                            <li>Итого <span> ₽{{ total_price|add:"+0" }}</span></li>
                                        </ul>
                                    </div>
                                    <div class="grand-btn">
                                        <form method="post" action="{% url "products:order_accept" %}">
                                            {% csrf_token %}
                                            <div class="login-register-btn">
                                                <button type="submit" name="accept" value="ok">Оформить заказ</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}