{% extends 'base.html' %}
{% load static %}
{% block title %}
    Товары
{% endblock %}
{% block content %}
    <section class="section-products">
        <div class="container">
            <div class="row">
                {% for product in products %}
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="card">
                            <a  href="{% url "products:product_detail" product.pk product.images.all.0.pk %}">
                            <img class="card-shadow" style="border-radius: 3px" src="{{ product.images.all.0.image.url }}" width="260" height="286" alt="logo">
                                </a>
                            <h4></h4><h4></h4>
                            <h4 class="product-title card-text-font">{{ product.name }}</h4>
                            <h4></h4>

                            <h4 class="product-price card-text-font">{{ product.price }}<span>₽</span></h4>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}