{% extends 'base.html' %}
{% load static %}
{% block title %}
    Информация о товаре
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="product-details-tab">
                <div class="pro-dec-big-img-slider"
                     style="display: flex; justify-content: center; align-items: center;">
                    <div class="easyzoom-style">
                        <div class="easyzoom easyzoom--overlay">
                            <a href="{{ image_large }}">
                                <img style="border-radius: 3px; width: 100%; height: auto; max-width: 400px; object-fit: cover;"
                                     src="{{ image_large }}" alt="">
                            </a>
                        </div>
                        <a class="easyzoom-pop-up img-popup" href="{{ image_large }}">
                            <i class="dlicon ui-1_zoom-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center">
            <div class="product-details-col-72">
                <div class="product-details-content p-dec-content-edit text-center">
                    <h2 class="uppercase">{{ product.name }}</h2>
                    <h3>₽{{ product.price }}</h3>
                    <div class="product-details-peragraph">
                        <section class="section-products">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <form class="row" method="POST">
                                        {% csrf_token %}
                                        {% for images in product.images.all %}
                                            <div class="image-column col-2 col-sm-4 col-md-1 col-lg-1 mb-1">
                                                <div class="card text-center mx-auto">
                                                    <button style="width: 50px; height: 50px; background-color: rgba(255, 255, 255, 0); border: none;"
                                                            type="submit" name="image" value="{{ images.pk }}">
                                                        <img class="choice" src="{{ images.image.url }}" width="50"
                                                             height="50" alt="logo">
                                                    </button>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </form>
                                </div>
                            </div>
                        </section>
                        <section class="section-products">
                            <div class="container product-details-content">
                                <div class="row justify-content-center">
                                    <h4>{{ product.description }}</h4>
                                    <ul>
                                        {% for characteristic in product.characteristic.all %}
                                            <li>
                                                {{ characteristic.characteristic.name }}:
                                                {{ characteristic.amount }} {{ characteristic.characteristic.measurement_unit }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                    <form class="product-details-action-wrap d-flex justify-content-center" method="POST">
                        {% csrf_token %}
                        <button type="button" id="decrement"
                                style="width: 30px; height: 30px; background-color: rgba(255, 255, 255, 0); border: none;">
                            -
                        </button>
                        {{ form.qtybutton }}
                        <button type="button" id="increment"
                                style="width: 30px; height: 30px; background-color: rgba(255, 255, 255, 0); border: none;">
                            +
                        </button>
                        <button class="in_order_list" type="submit" name="action" value="ok">В корзину
                        </button>
                        <div class="product-details-wishlist">
                            <button type="submit" name="add_wishlist" value="ok"
                                    style="background-color: rgba(255, 255, 255, 0); border: none;">
                                <a title="Add to wishlist"><i class="fa {{ heart }}"></i></a>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    ...
    <script>
        const qtyInput = document.getElementById('qtybutton');
        const decrementButton = document.getElementById('decrement');
        const incrementButton = document.getElementById('increment');

        decrementButton.addEventListener('click', () => {
            let currentValue = parseInt(qtyInput.value);
            if (currentValue > 1) {
                qtyInput.value = currentValue - 1;
            }
        });

        incrementButton.addEventListener('click', () => {
            let currentValue = parseInt(qtyInput.value);
            qtyInput.value = currentValue + 1;
        });
    </script>
{% endblock %}