{% load static %}
<footer class="footer-area bg-black section-padding-1 ">
            <div class="container-fluid">
                <div class="footer-top pt-20 pb-20">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-12">
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="footer-menu text-center">
                                <nav>
                                    <ul>
                                        <li><a href="#">Контакты</a></li>
                                        <li><a href="#">Самовывоз и Доставка</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="social-icon-style-2 social-icon-right">
                                <a class="facebook" href="tel:+79251631300"><i class="fa fa-mobile-phone"></i></a>
                <a class="dribbble" href="https://wa.me/79251631300?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%21"><i class="fa fa-whatsapp"></i></a>
                <a class="twitter" href="https://t.me/hobbylivemsk"><i class="fa fa-telegram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-botoom pb-15">
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright text-center">
                                <p>© Все материалы, размещенные на данном сайте, являются интеллектуальной собственностью ИП Калашникова</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>